* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-bost {
  padding: 0 10px;
}
.body-post::-webkit-scrollbar {
  width: 5px;
}
.body-post::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 20px;
}